<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Local Library</title>{% endblock %}
{% load static %}

<script src="{% static 'js/jspdf.js' %}"></script>
	<script src="{% static 'js/jquery-2.1.3.js' %}"></script>

	<script src="{% static 'js/pdfFromHTML.js' %}"></script>
    <style>

body{
    font-family:Arial,Whipsmart, 'sans-serif';
    font-size: 15px;
}
.cen{
    text-align: center;
}
.bekit{
    position:absolute;left:780px;
}
.mar{
	margin-top: 900px;
}
.lef{
    text-align: left;
    margin-left: 50px;
}
.rig{
    position: absolute;
    top: 1655px;
    left: 780px;
}

table, th, td {

    border: 1px solid black;
    border-collapse: collapse;
}
table{
    font-weight:normal;
    width: 100%;
}
.bck{
	background-color: grey;
}
    </style>
</head>




<body>
  <script type="text/javascript">
  function doit(){
if (!window.print){
alert("You need NS4.x to use this print button!")
return
}
window.print()
}</script>

<div style="float:right;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sidebar300X600 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-1456458421931279"
     data-ad-slot="1562820743"></ins>

</div>

<div class="cen">
<p>БІЛІМ ЖӘНЕ ҒЫЛЫМ МИНИСТРЛІГІ<br>
ҚАЗАҚСТАН РЕСПУБЛИКАСЫНЫҢ
</p><br><br><br><br><br>
</div>
<div class="cen">
<p><img src="{% static 'kar/kaz.png' %}"  width="310" height="120" alt="dkmvsfdkmv"></p>
</div>
<div class="bekit"><span class="boldd">БЕКІТЕМІН</span><br>
<span>Кафедра меңгерушісі</span><br><span>______________________________</span><br>
<span>___________________ </span>(аты-жөні)<br>
«____» ________________ </span><span >20___ ж.</span>
</div><br><br><br><br><br><br><br><br>
<div class="cen">
	<p>СИЛЛАБУС<br><br>
		КОД<span>«{{ subject }}»</span><br>
		(пәннің атауы)<br><br>
		<span>{{ subject_credit }} кредит саны</span><br><br>
		Семестр:<span>____________ 201_-201_ оқу жылы</span>
	</p>
</div>
<div class="cen">
<div class="mar">
	Алматы, 2018
</div>
</div>
<div style="page-break-before:always;">
<div class="cen">
	Институт<span> ___________________</span><br><br>
	Кафедра<span> «____________»</span>
</div>
<p>
	1. Оқытушылар туралы ақпарат
</p>
<div class="cen">
	Лектор<br>
	{{ teacher_last }} {{ teacher }} {{ teacher_otch }}<br>
	Офис сагаттар кесте бойынша ,кабинет<br>
	{{ teacher_email }}
</div>
<div class="lef">
Оқытушы<br>
(практикалық кәсіптер)<br>
{{ prak_teacher_last }} {{ prak }} {{ prak_teacher_otch }}<br>
Офис сагаттар кесте бойынша, кабинет_<br>
{{ prak_teacher_email }}<br>
</div>

<p>2.Курстың мақсаты:</p>
{{ outcome }}
<p>
3.Курстың сипаттамасы:
</p>
{{ description }}
<p>4.Пререквизиттер:</p>
<ul>
    {% for pr in pre %}

   <li>{{ pr }}</li>
{% endfor %}

</ul>
<p>5.Постреквизиттер:</p>
<ul>
	{% for pp in post %}

   <li>{{ pp }}</li>
{% endfor %}
</ul>
<p>6.Әдебиеттер:</p>
<p>Негізгі:</p>
<ul>
	{% for lit in ll %}

   <li>[{{ forloop.counter }}]{% if lit.typee == 'Н' %}{{ lit.literature_name }}{% endif %}</li>
{% endfor %}
</ul>
<p>Қосымша:</p>
<ul>
	{% for lit in ll %}
<td>{% if lit.typee == 'Қ' %}{{ lit.literature_name }}{% endif %}</td>
{% endfor %}
</ul>
<p>7.Күнтізбе тақырыптық жоспары
</p>
</div>
<table>
    <tr>
        <td>Апта</td>
        <td>Лекция тақырыбы</td>
        <td>Практикалық жұмысының тақырыбы</td>
        <td>Анықтама әдебиет бойынша</td>
        <td>Тапсырма</td>
        <td>Жеткізу мерзімі</td>
    </tr>
    <tr>
        <td>1</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '1' %}{{ keste.lekcia }}{% endif %}
    {% endfor %}</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '1' %}{{ keste.zert }}{% endif %}
    {% endfor %}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>2</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '2' %}{{ keste.lekcia }}{% endif %}
    {% endfor %}</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '2' %}{{ keste.zert }}{% endif %}
    {% endfor %}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>3</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '3' %}{{ keste.lekcia }}{% endif %}
    {% endfor %}</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '3' %}{{ keste.zert }}{% endif %}
    {% endfor %}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>4</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '4' %}{{ keste.lekcia }}{% endif %}
    {% endfor %}</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '4' %}{{ keste.zert }}{% endif %}
    {% endfor %}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>5</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '5' %}{{ keste.lekcia }}{% endif %}
    {% endfor %}</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '5' %}{{ keste.zert }}{% endif %}
    {% endfor %}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>6</td>
       <td>{% for keste in kestes %}
            {% if keste.apta == '6' %}{{ keste.lekcia }}{% endif %}
    {% endfor %}</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '6' %}{{ keste.zert }}{% endif %}
    {% endfor %}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>7</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '7' %}{{ keste.lekcia }}{% endif %}
    {% endfor %}</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '8' %}{{ keste.zert }}{% endif %}
    {% endfor %}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>8</td>
        <td colspan="3">Бірінші аралық аттестация</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>9</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '9' %}{{ keste.lekcia }}{% endif %}
    {% endfor %}</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '9' %}{{ keste.zert }}{% endif %}
    {% endfor %}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>10</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '10' %}{{ keste.lekcia }}{% endif %}
    {% endfor %}</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '10' %}{{ keste.zert }}{% endif %}
    {% endfor %}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>11</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '11' %}{{ keste.lekcia }}{% endif %}
    {% endfor %}</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '11' %}{{ keste.zert }}{% endif %}
    {% endfor %}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>12</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '12' %}{{ keste.lekcia }}{% endif %}
    {% endfor %}</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '12' %}{{ keste.zert }}{% endif %}
    {% endfor %}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>13</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '13' %}{{ keste.lekcia }}{% endif %}
    {% endfor %}</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '13' %}{{ keste.zert }}{% endif %}
    {% endfor %}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>14</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '14' %}{{ keste.lekcia }}{% endif %}
    {% endfor %}</td>
        <td>{% for keste in kestes %}
            {% if keste.apta == '14' %}{{ keste.zert }}{% endif %}
    {% endfor %}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>15</td>
        <td colspan="3"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>16</td>
        <td colspan="3"></td>
        <td></td>
        <td></td>
    </tr>
</table><br>
* Күнтізбенің тақырыптық күнтізбесінде мереке күндерін ескере отырып, өзгерістер болуы мүмкін<br><br><br>
<p>8.Оларды жүзеге асыру бойынша тапсырмалар мен қысқаша нұсқаулар:</p>
<ul>
	<li>Студенттің өзіндік жұмысы (СӨЖ):<br>
    семестр ішінде пән бойынша өтілген материалдарды қамтитын 7 тапсырманы орындаудан тұрады. Тапсырмалар жазбаша түрде орындалып, орындау мерзіміне сау уақытта өткізілуі тиіс. Сіздің жазбаша жұмысыңыздың негізінде орташа балл шығарылады. Жұмыстарды уақытылы орындап, тапсыру да ескеріледі.</li>
	<li>Мұғаліммен жұмыс істеу (МЖІ):<br>
    өткен тақырыптар бойынша тапсырмаларды оқытушының жетекшілік етуімен өз бетінше орындау. Тапсырма практикалық сабақ кезінде беріледі. Оларды барлық студенттер ағымдық өзіндік жұмыс ретінде орындауға міндетті. Үй тапсырманы орындау барысында Сіз
    оқулықтан және сабақта алған білімдеріңізді пайдалануыңыз керек. Сіздің орындаған жұмыстарыңыздың негізінде орташа баға шығарылады. Тапсырмаларды уақытылы орындап, тапсыру да ескеріледі.</li>
	<li>Зерттеу жұмысы:<br>
    нақты тапсырмаларды орындау бағдарламаларын әзірлеу және құрастырудан тұрады. Тапсырмалар портал сайтында беріледі.Тапсырмаларды орындау тиісті деңгейде ресімделеді және пайдалану көзделген.
    Жұмыстарды уақытылы орындап, тапсыру да ескеріледі.</li>
	<li>Аралық бақылау:<br>
    аралық бақылау 8 және 15 апталарда қорытынды бақылау үшін жүргізіледі. Аралық бақылау тапсырмалары тестілерден, теориялық сұрақтардан, шешілуі тиіс есептеулерден тұруы мүмкін,</li>
	<li>Емтихан:<br>
    курс бойынша барлық материалдарды қамтиды және қорытындылайды. Емтихан жазбаша өткізіледі және түрлі тапсырмаларды қамтиды: дәріс бойынша өтілген материалдарды қамтитын сұрақтардан, нақты тапсырмаларды практикалық шешуден тұрады. Емтихан ұзақтығы 2 академиялық сағат. Емтиханда егер баға төмен болып қалса, оны көтеру үшін ешқандай қосымша сұрақ берілмейді. Сондай-ақ емтиханды қайта тапсыруға рұқсат берілмейді.</li>
</ul>
<p>9. Жұмысты бағалау критерийлері:</p>
<table>
    <tr class="bck">
        <td>Бағалау әліпби жүйесімен
</td>
        <td>Бағалаудың цифрлық эквиваленті</td>
        <td>Критериялар</td>
    </tr>
    <tr>
        <td>A</td>
        <td>95 - 100</td>
        <td></td>
    </tr>
    <tr>
        <td>A-</td>
        <td>90 - 94</td>
        <td></td>
    </tr>
    <tr>
        <td>B+</td>
        <td>85 - 89</td>
        <td></td>
    </tr>
    <tr>
        <td>B</td>
        <td>80 - 84</td>
        <td></td>
    </tr>
    <tr>
        <td>B-</td>
        <td>75 - 79</td>
        <td></td>
    </tr>
    <tr>
        <td>C+</td>
        <td>70 - 74</td>
        <td></td>
    </tr>
    <tr>
        <td>C</td>
        <td>65 - 69</td>
        <td></td>
    </tr>
    <tr>
        <td>C-</td>
        <td>60 - 64</td>
        <td></td>
    </tr>
    <tr>
        <td>D+</td>
        <td>55 - 59</td>
        <td></td>
    </tr>
    <tr>
        <td>D</td>
        <td>50 - 54</td>
        <td></td>
    </tr>
    <tr>
        <td>F</td>
        <td>0 - 49</td>
        <td></td>
    </tr>
</table><br>
* Қосымша тапсырмалар үшін бонустық ұпайлар алуға болады<br><br><br><br>
<p>10.Кейінгі қабылдау саясаты:</p>
Студент дәріс, практикалық және зертханалық сабақтарға дайындалып келуі тиіс. Зертханалық жұмыстарды, жұмыстың барлық түрлерін толық жүзеге асыра отырып , уақытылы қорғау (практикалық, зертханалық және өздік) керек.
<p>11. Қатысу саясаты:</p>
Студент сабақтан кешікпеуі және сабақты жібермеуі, ұқыпты және міндетті болуы керек. Уақытында жасаған жұмысы үшін 100% ең жоғары балл көзделген. Егер, Сіз белгілі себептермен аралық бақылау кезеңін өткізіп алсаңыз, онда сіз емтиханга дейін оқытушыға
ескертуге міндеттісіз. Барлықстуденттерден емтихан өткізгеннен қайта тапсыру мүмкін емес. Себепсіз емтиханды өткізіп алған студентте оны тапсыру құқығынан айырылады.
<p>12. Академиялық мінез-құлық және этика саясаты:</p>
Толерантты болыңыз және басқаның пікірін құрметтей біліңіз. Қарсылықты тұжырымдалған түрінде жасаңыз. Плагиат және әділетсіз жұмысқа жол берілмейді. Өзге студент үшін емтихан тапсыруға және бір-бірінен көшіруге жол берілмейді. Студенттің кез келген теріс ақпараты болған жағдайда «F» бағасын алады.

<div align="center"><a href="javascript:doit()"><img align="middle" border="0" src="http://demos.2my4edge.com/2my4edge-print-page/icon-48-print.png" /> Click here to Print the Page</a></div>
</div>
</body>


</html>